---
import "../reset.css";
import "../global.css";

import Card from "../components/Card.astro";
import Sidebar from "../components/Sidebar.astro";
import Me from "../components/Me.astro";
import Quote from "../components/Quote.astro";
import SkillBar from "../components/SkillBar.astro";
import Tech from "../components/Tech.astro";
import Thing from "../components/Thing.astro";

import * as assets from '../assets'
import Projects from "../components/Projects.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
        name="description"
        content="mi página personal! hola!"
        />
        <title>Santiago Cézar</title>
        <!-- <link rel="stylesheet" href="index.css?v=090721" /> -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet"
        />
    </head>

    <body>
        <Sidebar />
        <!--
            <a href="#proyectos" aria-label="Ir al contenido">
                <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" class="arrow">
                    <path stroke="#000" stroke-width="4" fill="none" d="M 16 16 L 32 32 L 48 16"></path>
                </svg>
            </a>
        -->

        <main>
            <h2 id="me">Sobre mí</h2>
            <Me />
            <h2 id="proy">Proyectos</h2>
            <Projects /> 
            <h2 id="tech">Tecnologías</h2>
            <Tech />
            <!--
            <div class="things">
                <Thing
                    name="Trucomatic"
                    capture={assets.trucomaticCap}
                    alt="Captura de pantalla de un contador de puntos para el truco"
                    logo={assets.trucomaticLogo}
                    action-href="https://truco.cez.ar"
                    action="Abrir"
                >
                </Thing>
                <Thing
                    name="Score"
                    capture={assets.scoreCap}
                    alt="Captura de pantalla de Score"
                    logo={assets.scoreLogo}
                    action-href="https://score.cez.ar"
                    action="Abrir"
                >
                    Una aplicación web para el conteo de puntos en juegos de mesa.
                </Thing>
                <Thing
                    name="PEON"
                    capture={assets.peonCap}
                    alt="Captura de pantalla de PEON"
                    logo={assets.peonLogo}
                    action-href="https://elbarquito.ar"
                    action="Ejemplo"
                >
                    Un sistema sencillo para la creación de tiendas online.
                </Thing>
                <Thing
                    name="eduActivo"
                    capture={assets.eduactivoCap}
                    alt="Captura de pantalla de eduActivo"
                    logo={assets.eduactivoLogo}
                    action-href="https://eduactivo.cez.ar"
                    action="Probar"
                >
                    Un sistema sencillo para la creación de tiendas online.
                </Thing>
               <Thing
                    name="Videojuegos"
                    src="/img/dodge.webp"
                    alt="Captura de pantalla de dodgestar"
                    action-href="https://aqua24j4.itch.io/dodgestar"
                    action="+ info"
                >
                    Desarrollo de juegos para PC y móvil
                </Thing>
                <Thing
                    name="Diseño Gráfico"
                    src="/img/icecold.webp"
                    alt="El fondo de pantalla 'Ice Cold'"
                    action-href="https://www.omgubuntu.co.uk/2019/06/kde-plasma-5-16-wallpaper"
                    action="+ info"
                >
                    Diseño 2D de logos o fondos minimalistas
                </Thing>
                <Thing
                    name="Hobby de modelado 3D"
                    src="/img/3d_model.webp"
                    alt="Modelo 3D de ejemplo"
                >
                    Diseño de modelos 3D para videojuegos e impresiones.
                </Thing>
                <Thing
                    name="Petit Dance"
                    src="/img/petit-dance.png"
                    alt="Captura de pantalla de la página de Petit Dance"
                    action-href="https://petitdance.sfco.ar"
                    action="Visitar"
                >
                    Página de presentación para la academia de danza Petit Dance, escrita
                    con Astro.
                </Thing>
                <Thing
                    name="...y etc."
                    src="/img/gh_screenshot.webp"
                    alt="Captura de pantalla de GitHub"
                    action-href="https://github.com/santiagocezar"
                    action="Ir a GitHub"
                >
                    En mi GitHub podes encontrar otros proyectos open-source que hice o en
                    los que colaboré.
                </Thing>
            </div>
            -->
        </main>
    </body>
</html>

<style>
.h {
    display: flex;
    gap: 1rem;
}

body {
    display: grid;
    grid-template:
        "sidebar content"
        / auto 1fr;

    place-items: stretch;

}

#about-me {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4em 2rem;
    blockquote {
    max-width: 16em;
    }
}
.arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: calc(50% - 32px);
    bottom: -6px;
    width: 64px;
    height: 64px;
}

main {
    --content-width: 60rem;
    --cols: 12;
    --wide-cols: 2;
    --col-w: calc(var(--content-width) / var(--cols));
    --pad-x: 3rem;

    display: grid;
    grid-template-columns:
        [body-start] minmax(var(--pad-x), 1fr)
        repeat(var(--wide-cols), [wide1-start] minmax(auto, var(--col-w)) [wide1-end])
        repeat(12, [col-start] minmax(auto, var(--col-w)) [col-end])
        repeat(var(--wide-cols), [wide2-start] minmax(auto, var(--col-w)) [wide2-end])
        minmax(var(--pad-x), 1fr) [body-end];

    & > :global(*) {
        grid-column: col-start 1 / col-end -1;
    }

    grid-row-start: 1;
    grid-area: content;

    box-sizing: border-box;
    width: 100%;

    margin: 0 auto;
    gap: 2rem 0;
    padding: 2rem 0 4rem 0;
}

.aspect1-1 {
    position: relative;
    flex-shrink: 0;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: none;
    fill: white;
}

h2 {
    font-family: var(--title-font);
    font-size: 2em;
    font-weight: 700;
    border-bottom: 1px dashed var(--blue3);
    width: 100%;
    margin: 0 auto;
    max-width: 70rem;
}

@media screen and (max-width: 40rem) {
    main {
        padding: 1.25rem 0 1.25rem 0;
    }
}

@media screen and (max-width: 60rem) {
    body {
        grid-template:
            "sidebar" auto
            "content" auto
            / 1fr;
    }
    main {
        --content-width: 40rem;
        --pad-x: 1.25rem;
        --wide-cols: 1;
    }
}
</style>
