---
import * as assets from '../assets'
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

projects.sort((a, b) => a.id.localeCompare(b.id))

console.log(projects)
---

<div class="projects">

{projects.map(p => (
    <div class="card">
        <div class="content">
            <header>
                <Image src={p.data.logosrc} alt={p.data.logoalt} />
            </header>
            <section set:html={p.rendered?.html ?? ""} />
        </div>
        <Image class="capture" src={p.data.thumbsrc} alt={p.data.thumbalt}  />
        {p.data.href && (
            <a class="action" href={p.data.href}>
                {p.data.hreflabel ?? "Abrir"}
            </a>
        )}
    </div>
))}

</div>

<style>
    .projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        gap: 2em;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .card {
        display: grid;
        grid-template:
            ".       .    desc .   .       .  " 2rem
            "logoimg .    .    .   .       .  " 2rem
            ".       .    .    .   .       .  " auto
            ".       .    .    .   descact .  " auto
            ".       .    img  .   .       act" 1rem
           / 1.5fr   auto 1rem 3fr 1fr     1rem;

        width: 100%;
    }
    .capture {
        grid-area: logoimg  / logoimg / img / img;
        border: black solid 1px;
        box-shadow: .25rem .25rem black;
        border-radius: 1rem;
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1;
    }
    &.compact .content .title {
        font-size: 1.5em;
    }
    .content {
        grid-area: desc / desc / descact / descact;
        border: var(--blue3) solid 1px;
        box-shadow: .25rem .25rem var(--blue3);
        background-color: var(--blue1);
        border-radius: 1rem;
        color: var(--blue4);
        font-size: 1.25rem;
        line-height: 1.25;
        
        & header {
            border-radius: 1rem 1rem 0 0;
            background-color: white;
            border-bottom: 1px dashed var(--blue3);
            padding: 1rem 1rem 1rem 2.5rem;
            
            img {
                width: auto;
                object-fit: contain;
                height: 3rem;
                max-width: 15rem;
            }
        }

        & section {
            padding: 1.5rem 2rem 1.5rem 2.5rem;
            
            & :global(p), :global(ul) {
                margin-bottom: .5em;
            }
            & :global(ul) {
                padding-left: 2em;
            }
            & :global(li) {
                list-style-type: disc;
            }
        }
    }


    .action {
        grid-area: descact / descact / act / act;
        border: var(--pink3) solid 1px;
        box-shadow: .25rem .25rem var(--pink3);
        background-color: var(--pink1);
        border-radius: 1rem;
        align-self: end;
        justify-self: end;
        white-space: nowrap;
        padding: 0.25em 1em;
        color: var(--pink4);
        font-weight: bold;
        text-decoration: none;
        z-index: 1;
        font-size: 1.5rem;

        transition: box-shadow 0.2s ease;
        &:hover {
            box-shadow: -0.3em 0.2em #f64b95, 0.3em -0.2em #00a6d2;
            &:active {
                box-shadow: none;
                background-color: #6442a0;
            }
        }
    }
</style>
