---
import * as assets from '../assets'
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

console.log(projects)
---

<div class="projects">

{projects.map(p => (
    <div class="card">
        <div class="content">
            <Image src={p.data.logosrc} alt={p.data.logoalt} class="title" />
            <section set:html={p.rendered?.html ?? ""}>
            </section>
        </div>
        <Image class="capture" src={p.data.thumbsrc} alt={p.data.thumbalt}  />
        <a class="action" href={p.data.href ?? "#"}>
            {p.data.hreflabel ?? "Abrir"}
        </a>
    </div>
))}

<div class="card">
    <div class="content">
        <Image src={assets.trucomaticLogo} alt="Trucomatic" class="title" />
        <section>
        </section>
        <p>
            Un elegante <strong>contador de puntos para el Truco</strong>, el tradicional
            juego de cartas argentino.
        </p>
        <p>
            Mantiene un <strong>historial de partidas</strong>, permite <strong>personalizar el
            color</strong> y permite <strong>compartir la partida</strong> con otros.
        </p>
    </div>
    <Image class="capture" src={assets.trucomaticCap} alt="Captura de pantalla de un contador de puntos para el truco"  />
    <a class="action" href="https://truco.cez.ar">
        Abrir
    </a>
</div>

<div class="card">
    <div class="content">
        <Image src={assets.eduactivoLogo} alt="Eduactivo" class="title" />
        <section>
        </section>
        <p>
            Una colección de <strong>herramientas interactivas</strong> para asistir en la <strong>enseñanza</strong>, principalmente para uso propio. Actualmente incluye:
        </p>
        <ul>
            <li>
                Herramientas para formar y comparar <strong>colores</strong> definiendo sus <strong>niveles de rojo, verde y azul</strong>, observando como se <strong>mezclan entre sí</strong>.
            </li>
            <li>
                Simulador para un <strong>robot de transmición diferencial</strong>, programable usando un lenguaje gráfico de bloques <strong>similar a Scratch</strong>.
            </li>
        </ul>
    </div>
    <Image class="capture" src={assets.eduactivoCap} alt="Captura de pantalla de un contador de puntos para el truco"  />
    <a class="action" href="https://truco.cez.ar">
        Abrir
    </a>
</div>

<div class="card">
    <div class="content">
        <Image src={assets.peonLogo} alt="PEON" class="title" />
        <section>
        </section>
        <p>
             Un sistema de <strong>comercio digital</strong> orientado a PyMEs.
        </p>
        <p>
            Mediante una <strong>interfaz intuitiva</strong> es posible administrar el <strong>catálogo de productos</strong> y editar la
            información visible del negocio. Los clientes pueden armar su <strong>carrito de compras</strong> y realizar su pedido mediante
            WhatsApp.
        </p>
    </div>
    <Image class="capture" src={assets.peonCap} alt="Captura de pantalla del administrador de productos de PEON"  />
    <a class="action" href="https://truco.cez.ar">
        Abrir
    </a>
</div>

<div class="card">
    <div class="content">
        <Image src={assets.scoreLogo} alt="Score" class="title" />
        <p>
            Una aplicación web para el administrar partidas del juego de mesa Monopoly.
        </p>
        <p>
            Permite administrar el <strong>dinero</strong> y <strong>propiedades</strong> 
            que pertenecen a cada jugador, <strong>transferirlas</strong> entre ellos, 
            manteniendo un historial.
        </p>
    </div>
    <Image class="capture" src={assets.scoreCap} alt="Captura de pantalla del administrador de partidas de monopoly"  />
    <a class="action" href="https://score.cez.ar">
        Abrir
    </a>
</div>

</div>

<style>
    .projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        gap: 2em;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .card {
        display: grid;
        grid-template:
            ".       .    desc .   .       .  " 2rem
            "logoimg .    .    .   .       .  " 2rem
            ".       .    .    .   .       .  " auto
            ".       .    .    .   descact .  " auto
            ".       .    img  .   .       act" 1rem
           / 1.5fr   auto 1rem 3fr 1fr     1rem;

        width: 100%;
    }
    .title {
        grid-area: logo / logo / logoimg / logoimg;
        font-size: 1.8em;
        /*
        background-color: white;
        border: black solid 1px;
        box-shadow: .25rem .25rem black;
        border-radius: 1rem;
        padding: 1rem;
        line-height: 1.2; 
        */
    }
    img.title {
        /* height: 100%; */
        width: auto;
        margin-bottom: 1rem;
        object-fit: contain;
        height: 3rem;
        max-width: 15rem;
    }
    .capture {
        grid-area: logoimg  / logoimg / img / img;
        border: black solid 1px;
        box-shadow: .25rem .25rem black;
        border-radius: 1rem;
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1;
    }
    &.compact .content .title {
        font-size: 1.5em;
    }
    .content {
        grid-area: desc / desc / descact / descact;
        border: var(--blue3) solid 1px;
        box-shadow: .25rem .25rem var(--blue3);
        background-color: var(--blue1);
        border-radius: 1rem;
        padding: 1.5rem 2rem 1.5rem 2.5rem;
        color: var(--blue4);
        font-size: 1.4rem;
        line-height: 1.25;

        section {
            & :global(p), :global(ul) {
                margin-bottom: .5em;
            }
            & :global(ul) {
                padding-left: 2em;
            }
            & :global(li) {
                list-style-type: disc;
            }
        }
    }


    .action {
        grid-area: descact / descact / act / act;
        border: var(--pink3) solid 1px;
        box-shadow: .25rem .25rem var(--pink3);
        background-color: var(--pink1);
        border-radius: 1rem;
        align-self: end;
        justify-self: end;
        white-space: nowrap;
        padding: 0.5em 1em;
        color: var(--pink4);
        font-weight: bold;
        text-decoration: none;
        z-index: 1;

        transition: box-shadow 0.2s ease;
        &:hover {
            box-shadow: -0.3em 0.2em #f64b95, 0.3em -0.2em #00a6d2;
            &:active {
                box-shadow: none;
                background-color: #6442a0;
            }
        }
    }
</style>
