---
export interface Props {
    label: string;
    maxXP: number;
    xp: number;
}

const { label, maxXP, xp } = Astro.props;
---

<div
    class="back"
    role="progressbar"
    aria-labelledby={"label" + label}
    aria-valuemax={maxXP}
    aria-valuetext={`${xp} de ${maxXP}`}
    aria-valuenow={xp}
>
    <div class="front">
        <span id={"label" + label}><strong>{label}</strong></span>
        <span>{xp}</span>
    </div>
</div>

<style define:vars={{ maxXP, xp }}>
    .back {
        width: 30rem;
        height: 2.25rem;
        border-radius: 0.25rem 1rem;
        box-sizing: border-box;
        border: #dbf9ff solid 0.25rem;
    }
    .front {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        box-sizing: border-box;
        background-color: #dbf9ff;
        color: #002b49;
        width: calc(100% * var(--xp) / var(--maxXP));
        height: 100%;
        border-radius: 0 0.6rem;
    }
</style>
