---
import { Image, type ImageMetadata } from 'astro:assets';
import CoolButton from "./CoolButton.astro";

export interface Props {
    name: string;
    capture: ImageMetadata;
    logo: ImageMetadata;
    alt: string;
    action?: string;
    "action-href"?: string;
}

const {
    name,
    capture,
    logo,
    alt,
    "action-href": actionHref = "#",
    action,
} = Astro.props;

const device = capture.width > capture.height ? 'desktop' : 'mobile'
const compact = name.length > 14;
---

<div class:list={["featured-card", { compact }, device]}>
    {
        logo ? (
            <Image src={logo} alt={name} class="title" />
        ) : (
            <h1 class="title">{name}</h1>
        )
    }
    <p class="content">
        <slot />
    </p>
    <Image src={capture} alt={alt} class="preview" />
    {
        action && actionHref && (
            <a class="action" href={actionHref}>
                {action}
            </a>
        )
    }
</div>

<style lang="less">
    .featured-card {
        display: grid;
        grid-template-rows:
            [logo-start desc-start] 3rem
            [img-start act-start] 4rem
            [logo-end desc-end] 1rem
            [img-end act-end];
        grid-template-columns:
            [logo-start] 1rem
            [img-start] 1fr
            [logo-end] 1fr
            [desc-start] 2rem
            [img-end] 3fr
            [act-start] 1fr
            [desc-end] 1rem
            [act-end];

        gap: 1.2rem;
        color: #040624;
        width: 100%;
        font-size: 1.75rem;
    }
    .preview {
        grid-area: img-start / img-start / img-end / img-end;
        border: var(--white) solid 0.25rem;
        height: auto;
        border-radius: 1em;
        object-fit: cover;
        object-position: top;
        aspect-ratio: 1 / 1;
    }
    &.compact .content .title {
        font-size: 1.5em;
    }
    .content {
        grid-area: desc;
        background-color: var(--white);
        border: var(--black) solid 0.25rem;
        border-radius: 1em;
        padding: 2em 1em 2em 2em;

    }

    .title {
        grid-area: logo;
        font-size: 1.8em;
/*         line-height: 1.2; */
    }

    img.title {
        height: 100%;
        width: auto;
    }

    .action {
        grid-area: action;
        background-color: #9c72fe;
        border: var(--black) solid 0.25rem;
        align-self: end;
        justify-self: end;
        white-space: nowrap;
        padding: 0.5em 1em;
        border-radius: 1em;
        color: var(--white);
        font-weight: bold;
        text-decoration: none;
        z-index: 1;

        transition: box-shadow 0.2s ease;
        &:hover {
            box-shadow: -0.3em 0.2em #f64b95, 0.3em -0.2em #00a6d2;
            &:active {
                box-shadow: none;
                background-color: #6442a0;
            }
        }
    }
    @media screen and (max-width: 40rem) {
        .featured-card {
            grid-template-columns: 1rem 1fr 1rem;
            grid-template-rows: 1fr 2rem auto 1rem 1rem;

            font-size: 1.5rem;
        }
        .preview {
            grid-area: 1 / 1 / 3 / 3;
        }
        .content {
            grid-area: 2/2/5/4;
            padding: 1em 1em 3em 1em;
        }
        .action {
            grid-row-end: -1;
            grid-column-end: -2;
        }
    }
</style>
