---
import { Image, type ImageMetadata } from 'astro:assets';
import CoolButton from "./CoolButton.astro";

export interface Props {
    name: string;
    capture: ImageMetadata;
    logo: ImageMetadata;
    alt: string;
    action?: string;
    "action-href"?: string;
}

const {
    name,
    capture,
    logo,
    alt,
    "action-href": actionHref = "#",
    action,
} = Astro.props;

const device = capture.width > capture.height ? 'desktop' : 'mobile'
const compact = name.length > 14;
---

<div class:list={["featured-card", { compact }, device]}>
    <div class="content">
        <slot />
    </div>
    <Image src={capture} alt={alt} class="preview" />
    {
        logo ? (
            <Image src={logo} alt={name} class="title" />
        ) : (
            <h1 class="title">{name}</h1>
        )
    }
</div>

<style lang="less">
    .featured-card {
        display: grid;
        grid-template:
            "logo .       .    desc .   .      " 2rem
            ".    logoimg .    .    .   .      " 2rem
            ".    .       .    .    .   .      " auto
            ".    .       .    .    .   descend" auto
            ".    .       .    img  .   .      " 1rem
           / 1rem 1.5fr   auto 1rem 3fr 1fr    ;

        color: #040624;
        width: 100%;
        font-size: 1rem;
    }
    .title {
        grid-area: logo / logo / logoimg / logoimg;
        font-size: 1.8em;
        background-color: white;
        border: black solid 1px;
        box-shadow: .25rem .25rem black;
        border-radius: 1rem;
        padding: 1rem;
/*         line-height: 1.2; */
    }
    .preview {
        grid-area: logoimg  / logoimg / img / img;
    }
    .content {
        grid-area: desc / desc / descend / descend;
    }
    .preview {
        border: black solid 1px;
        box-shadow: .25rem .25rem black;
        border-radius: 1rem;
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1;
    }
    &.compact .content .title {
        font-size: 1.5em;
    }
    .content {
        border: var(--blue3) solid 1px;
        box-shadow: .25rem .25rem var(--blue3);
        background-color: var(--blue1);
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        color: var(--blue4);
        font-size: 1.5rem;
        line-height: 1.1;

        & :global(p) {
            margin-bottom: 1rem;
        }
    }

    img.title {
        height: 100%;
        width: auto;
        object-fit: contain;
    }
</style>
